@model ProductModel

<div class="col-lg-4 col-md-6 mb-4 pb-4 card-wrapper product-card">
    <div class="card">
        <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
             data-mdb-ripple-color="light">
            <img src="@Model.ImageURL" />
        </div>
        <div class="card-body">
            <a href="/products/@Model.Id" class="text-reset">
                <h5 class="card-title mb-2">@Model.Name</h5>
            </a>
            <a href="" class="text-reset">
                <p>@Model.CategoryName</p>
            </a>
            <h6 class="mb-3 price">@Model.Price лв</h6>
        </div>
    </div>
</div>